<div fxLayout="row" class="header">
    <mat-toolbar>
        <mat-toolbar-row>
            <span class="header-text"><h1>Marvel Character Profiles</h1></span>
        </mat-toolbar-row>
        
      </mat-toolbar>
</div>

<div fxLayout="row" fxLayoutAlign="space-around start" fxLayout.xs="column" fxLayoutAlign.xs="space-around stretch" fxLayout.sm="column" fxLayoutAlign.sm="space-around stretch">
    <div  fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
            <div >
                <span class="sub-heading"><h2>List of Characters</h2></span>
                <cdk-virtual-scroll-viewport itemSize="50" class="characters-viewport" cdkDropList #todoList="cdkDropList" [cdkDropListData]="characters" [cdkDropListConnectedTo]="doneList" (cdkDropListDropped)="drop($event)" >
                    <div *ngFor="let character of characters" class="characters-item" cdkDrag>{{character.name}}</div>
                    <div id="characters-spinner"><mat-spinner></mat-spinner></div>
                  </cdk-virtual-scroll-viewport>
            </div>

            <div >
                <button (click)="clickButton()" mat-raised-button class="success"><h3>Get Characters</h3></button>
            </div>
    </div>
    <div  fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
        <div >
            <span class="sub-heading"><h2>Drag Character Here</h2></span>
            
            <cdk-virtual-scroll-viewport itemSize="50" class="character-select-viewport" cdkDropList #doneList="cdkDropList" [cdkDropListData]="selectedCharacter" [cdkDropListConnectedTo]="todoList"
             (cdkDropListDropped)="drop($event)" (change)="change($event)" >
            <div class="character-select-item" *ngFor="let character of selectedCharacter"  cdkDrag [cdkDragDisabled]="character.disabled">{{character.name}}</div>
          </cdk-virtual-scroll-viewport>
        </div>

        <div >
            <span class="sub-heading"><h2>Displayed Character Info</h2></span>
            
            <div class="character-profile">
  
                <div class='spinner' id="profile-spinner"><mat-spinner></mat-spinner></div>
              
                <div *ngIf="characterProfile">
              
                  <section fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">
                  <h3>{{characterProfile.characters.name}}</h3>
                  <img src={{characterProfile.characters.imagePath}} alt="{{characterProfile.characters.name}} profile pic" class="character-profile-image">
                </section>
              
                <section fxLayout="column" fxLayoutAlign="space-evenly start" style="width: 100%;">
                  <span class="character-profile-heading"><h4>Stories</h4></span>
              
                  <mat-list dense *ngFor="let story of characterProfile.characters.stories">
                    <mat-list-item> <li>{{story.name}}</li></mat-list-item>
                   </mat-list>
              
                  <span class="character-profile-heading"><h4>Comics</h4></span>
                   <mat-list dense *ngFor="let comic of characterProfile.characters.comics">
                     <mat-list-item> <li>{{comic.title}}</li> </mat-list-item>
                    </mat-list>
              
                  </section>
                </div>
              </div>
        </div>
    </div>
</div>